<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>With B - Manager</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <!-- use the latest vue-select release -->
  <script src="https://unpkg.com/vue-select@latest"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">

</head>

<body>
  <div id="app">
    <div v-if="!report">Loading ...</div>
    <div v-else>
      <h1>Manager for game {{ gameId }}</h1>

      <!-- Game has started -->
      <div v-if="report.started">
        <p>Time until the end : {{minutes}}m {{ seconds}}s </p>
        <p>Connected players : {{ report.players.length }}</p>
        <div id="graph"></div>

        <!-- Base start : choose an event -->
        <p>Trigger an event</p>
        <v-select v-model="events.selectedOption" :options="events.options" label="name" />
        </v-select>

        <!-- After choosing -->
        <div v-if="events.selectedOption">
          <span>Selected : {{events.selectedOption.name}}</span>

          <!-- If you have to choose players -->
          <div v-if="events.selectedOption.playersToChoose>0">
            <p>You have to choose {{events.selectedOption.playersToChoose}} players (currently
              {{events.chosenPlayers.length}})</p>
            <v-select multiple v-model="events.chosenPlayers" :options="report.players" :reduce="player=>player.name"
              label="name"></v-select>

            <!-- When you have chosen enough players -->
            <div v-if="events.selectedOption.playersToChoose==events.chosenPlayers.length">
              <p>{{events.chosenPlayers}}</p>
              <p><span class="btn" v-on:click="createEvent(gameId,events.selectedOption,events.chosenPlayers)">Create
                  event</span> </p>
            </div>
          </div>

          <!-- If all players will play the event-->
          <div v-else>
            <p><span class="btn" v-on:click="createEvent(gameId,events.selectedOption,null)">Create event</span> </p>
          </div>
        </div>

        <h2>Feed</h2>
        <div v-for="msg in report.feed">
          <div class="date">{{ stringToTime(msg.date) }}</div>
          <span class="message">{{ msg.content }}</span><br>
        </div> 
      </div>

      <!-- Game hasn't started -->
      <div v-else>
        <h2>Lobby ({{ report.lobby.length }} players):</h2><br>
        <ul>
          <li v-for="player in report.lobby">
            {{ player }}
          </li>
        </ul>
        <p>Is everyone here ? 
          <br>How long do you want your game to last ?
          <input type= "number" v-model="duration">
          minutes
          <span class="btn" v-on:click="start">Start game</span> </p>
      </div>

    </div>
  </div>
</body>
<footer>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Open socket.io connection and parse URL to get gameId
    const socket = io();
    const [gameId] = window.location.pathname.split('/').slice(-1)

    Vue.component('v-select', VueSelect.VueSelect)

    //handling events
    const events = {
      options: [
        { name: "Treachery/Trust", playersToChoose: 2 },
        { name: "Mission", playersToChoose: 1 }, //make someone buzz against you
      ],
      selectedOption: null,
      chosenPlayers: []
    }

    // Load a reactive Vue app
    var app = new Vue({
      el: '#app',
      data: {
        gameId: gameId,
        report: null,
        events,
        minutes: 0,
        seconds: 0,
        intervall: null,
        duration: 15
      },
      mounted() {
        app.interval = setInterval(() => {
          app.updateDiffs();
        }, 1000);

        app.updateDiffs();
      },
      destroyed() {
        clearInterval(app.interval);
      },
      methods: {
        start: function (event) {
          const content = {
            gameId: gameId, time: app.duration
          }
          if (app.report.lobby.length > 4) socket.emit('startGame', content)
        },
        createEvent,
        updateDiffs() {
          //lets figure out our diffs
          let diff = Math.abs(new Date(app.report.endedAt) - Date.now());
          app.minutes = Math.floor(diff / 60000);
          app.seconds = (Math.floor(diff / 1000) % 60);
        }
      }
    })

    // Notify the server that we are part of a specific game
    socket.emit('joinRoom', gameId);

    // When someone sends 'hello' ask for a new report
    socket.on('hello', nickname => {
      Toastify({
        text: `${nickname} connected`,
        className: "info",
      }).showToast();
      socket.emit('getReport', gameId)
    })

    // When server sends a fresh report, update the Vue app
    socket.on('report', report => {
      app.report = JSON.parse(report)
      if (app.report.started) setTimeout(() => updateGraph(), 500)
    })
    socket.on('report', report => console.log(JSON.parse(report)))

    // Errors handling
    socket.on('doesnt exists', () => alert("Game doesn't longer exist :("))

    // Ask the server to send a full game report
    socket.emit('getReport', gameId)

    function updateGraph() {
      let players = app.report.players.map(player => { return { id: player.name, label: player.name } })
      let links = app.report.players.map(player => {
        return {
          from: player.name,
          to: player.next,
          label: commonTraits(player, app.report.players.find(p => p.name == player.next)).join(",\n")
        }
      })
      let container = document.getElementById('graph')
      let data = {
        nodes: new vis.DataSet(players),
        edges: new vis.DataSet(links)
      }
      let network = new vis.Network(container, data, {})
    }

    function commonTraits(p1, p2) {
      console.log(p1, p2)
      traits = []
      p1.traits.forEach(t => {
        if (p2.traits.includes(t)) {
          traits.push(t)
        }
      })
      return traits
    }

    //When the manager wants to create an event (WIP)
    function createEvent(gameId, event, chosenPlayers) {
      console.log(event)
      events.chosenPlayers = []
      events.selectedOption = null
      socket.emit("event", {
        gameId: gameId,
        event: event,
        chosenPlayers: chosenPlayers
      })
    }
  </script>
</footer>

</html>