* {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: 'Roboto', sans-serif;    
    background-color: rgb(255, 255, 255);
  }
  
  .logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo_player {
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pink_body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(255,207, 235);
    padding: 20px;
  }

  h1, h2, h3, p {
    margin-top: 20px;
  }
  .btn {
    display: inline-block;
    background-color: rgb(225,123,185);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-showhide {
    font-size: 0.7em;
  }
  input {
    padding: 5px; 
    border: none;
  }
  .modal{
    
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    transition: all 0.5s;
  }
  .subclass{
    background-color: #f5bcd7;
    position: relative;
    padding: 15px 10px 15px 10px;
    left: -50%;
    /* height: 80vh; */
    width: 88vw;
    max-width: 450px;
    text-align: center;
    box-shadow: 1px 1px 30px 0px #0000008f;
  }

  .cross {
    top: 5px;
    right: 5px;
    position: absolute;
  }

  .hidden {
      transform : translateY(-100vh);
      transition: all 0.5s;
  }

  #graph {
    height: 400px;
  }

  p {
    margin-top: 3px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(32, 32, 32, 0), rgba(88, 88, 88, 0.75), rgba(34, 34, 34, 0));
  }

  .message {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
  }

  .date {
    margin-left: 10px;
    color: rgb(100, 100, 100);
    font-size: 0.7em;
  }
